body{
    background-color: #f6efef;
    background-image: url("../pictures/background.jpg");
    background-size: cover;
    background-position: center;
}

#form{
    justify-content:center;
    background-image: url("../pictures/regisztracio.jpg");
    width: 35%;
    border-radius: 6px;
    margin: 30px auto;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(107, 108, 108);
    border-color: black;
}

#form2{
    
   justify-content: center;
    background-image: url("../pictures/bejelentkez.jpg");
    width: 35%;
    border-radius: 6px;
    margin: 30px auto;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(107, 108, 108);
}


h1{
    text-align: center;
}

input{
    width: 60%;
    border-radius: 10px;
    border: 3px solid #000000;
    padding: 5px;
}

#btn{
    width: 60%;
    background-color: rgb(108, 22, 189);
    padding: 10px;
    font-size: large;
    border-color: black;
    border-radius: 10px;
}
#heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(184, 196, 227, 0.895);
}

i{
 color: #f6efef;
}

.atvalt{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(107, 108, 108);
}

